# Frontend
VITE_API_BASE_URL=http://localhost:3333/api

# Backend
PORT=3333
JWT_SECRET_KEY=change-me
AUTH_STATIC_PASSWORD=123456

ORACLE_USER=sgq_user
ORACLE_PASSWORD=change-me
ORACLE_CONNECT_STRING=localhost:1521/ORCLPDB1
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=ORCLPDB1
ORACLE_POOL_MIN=1
ORACLE_POOL_MAX=10
ORACLE_POOL_INCREMENT=1
ORACLE_POOL_ALIAS=sgqPool
ORACLE_STMT_CACHE_SIZE=30
LOG_LEVEL=info
UPLOAD_MAX_FILES=10
UPLOAD_MAX_FILE_SIZE_MB=25


